<div class="services_section">
        <div>
          <div class="center">
       	    <p>&nbsp;&nbsp;&nbsp;</p>
       	    <div align="center"><span class="STYLE54">第二部分</span> </div>
       	    <div align="center" class="STYLE55">
              
       	      （7）每日紧张感</div>
       	    <p align="center">&nbsp;</p>
            <p align="center" class="STYLE51"><span class="STYLE11">七、近来，下列这些情况经常发生吗？</span></p>
            <div align="center">
              
   	        </div>
          </div>
          <div align="center">
            <div align="center">
  <form action="post.php?flag2=20" method="post" onsubmit="return check(4);">
    <div align="center">
      <div align="center">
        <table border="1" cellspacing="0" cellpadding="0" width="600">
           <tbody><tr>
                  <td width="388" valign="top">&nbsp;</td>
                  <td valign="top"><p align="center" class="STYLE60">从未有过</p></td>
                  <td width="40" valign="top"><p align="center" class="STYLE60">偶尔</p></td>
                  <td width="46" valign="top"><p align="center" class="STYLE60">经常</p></td>
                  <td valign="top"><p align="center" class="STYLE60">总是</p></td>
                  </tr>
                <tr>
                  <td width="388" valign="middle"><p class="STYLE59">1．白天结束的时候，您感到精神上和躯体上都筋疲力尽</p></td>
                  <td valign="top"><p align="center" class="STYLE60">
                    <input type="radio" name="i1" value="1">
                  </p></td>
                  <td valign="top"><p align="center" class="STYLE60">
                    <input type="radio" name="i1" value="2">
                  </p></td>
                  <td valign="top"><p align="center" class="STYLE60">
                    <input type="radio" name="i1" value="3">
                  </p></td>
                  <td valign="top"><p align="center" class="STYLE60">
                    <input type="radio" name="i1" value="4">
                  </p></td>
                  </tr>
          <tr>
            <td width="388" valign="middle"><p class="STYLE59">2．精神很紧张，并且与每天的活动有关</p></td>
            <td width="75" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i2" value="1">
            </p></td>
            <td width="40" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i2" value="2">
            </p></td>
            <td width="46" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i2" value="3">
            </p></td>
            <td width="39" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i2" value="4">
            </p></td>
            </tr>
          <tr>
            <td width="388" valign="middle"><p class="STYLE59">3．您每天的活动是极其费劲和充满压力的</p></td>
            <td width="75" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i3" value="1">
            </p></td>
            <td width="40" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i3" value="2">
            </p></td>
            <td width="46" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i3" value="3">
            </p></td>
            <td width="39" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i3" value="4">
            </p></td>
            </tr>
          <tr>
            <td width="388" valign="middle"><p class="STYLE59">4．总的说来，您非常紧张和不安</p></td>
            <td width="75" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i4" value="1">
            </p></td>
            <td width="40" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i4" value="2">
            </p></td>
            <td width="46" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i4" value="3">
            </p></td>
            <td width="39" valign="top"><p align="center" class="STYLE60">
              <input type="radio" name="i4" value="4">
            </p></td>
            </tr>
        </tbody></table>
        
      </div>
    </div>
  </form>
</div>
          </div>
          <p>&nbsp;
          </p>
         
          <div class="cleaner"></div>
        </div>
            
            

      </div>
<script language="javascript" type="text/javascript">
    function q_${questionnaireId}_getAnswer() {
        var answer = getAnswer();
        if (answer == undefined) {
            return { finished: false, answer: undefined };
        } else {
            return { finished: true, answer: answer };
        }
    }
    function getAnswer() {
        return 'answer';
    }
</script>