<div class="services_section">
        <div>
          <div class="center">
       	    <p>&nbsp;&nbsp;&nbsp;</p>
       	    <div align="center"><span class="STYLE54">第二部分</span> </div>
       	    <div align="center" class="STYLE55">
              
       	      （8）心身症状</div>
       	    <p align="center">&nbsp;</p>
            <p align="center" class="STYLE51"><span class="STYLE11">八、下面是与一般健康有关的项目，未必与严重的躯体疾病有关，但是人们日常生活中所经历的事情</span></p>
            <div align="center">
              
   	        </div>
          </div>
          <div align="center">
            <div align="center">
  <form action="post.php?flag2=21" method="post" onsubmit="return check(16);">
    <div align="center">
      <div align="center">
        <table border="1" cellspacing="0" cellpadding="0" width="600">
           <tbody><tr>
                  <td width="321" valign="top">&nbsp;</td>
                  <td valign="top"><p align="center" class="STYLE59">从来无</p></td>
                  <td width="41" valign="top"><p align="center" class="STYLE59">偶尔</p></td>
                  <td width="41" valign="top"><p align="center" class="STYLE59">有时</p></td>
                  <td valign="top"><p align="center" class="STYLE59">较经常</p></td>
                  <td valign="top"><p align="center" class="STYLE59">十分经常</p></td>
                  </tr>
                <tr>
                  <td width="321" valign="middle"><p class="STYLE59">1．当不在一个热房间里或不进行身体锻练时，您的面部发热</p></td>
                  <td valign="top"><p align="center" class="STYLE59">
                    <input type="radio" name="i1" value="1">
                  </p></td>
                  <td valign="top"><p align="center" class="STYLE59">
                    <input type="radio" name="i1" value="2">
                  </p></td>
                  <td valign="top"><p align="center" class="STYLE59">
                    <input type="radio" name="i1" value="3">
                  </p></td>
                  <td valign="top"><p align="center" class="STYLE59">
                    <input type="radio" name="i1" value="4">
                  </p></td>
                  <td valign="top"><p align="center" class="STYLE59">
                    <input type="radio" name="i1" value="5">
                  </p></td>
                </tr>
          <tr>
            <td width="321" valign="middle"><p class="STYLE59">2．当不在一个热房间里或不进行身体锻练时，您出汗过多</p></td>
            <td width="55" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i2" value="1">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i2" value="2">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i2" value="3">
            </p></td>
            <td width="56" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i2" value="4">
            </p></td>
            <td width="72" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i2" value="5">
            </p></td>
            </tr>
          <tr>
            <td width="321" valign="middle"><p class="STYLE59">3．您的嘴发干</p></td>
            <td width="55" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i3" value="1">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i3" value="2">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i3" value="3">
            </p></td>
            <td width="56" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i3" value="4">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i3" value="5">
            </p></td>
            </tr>
          <tr>
            <td width="321" valign="middle"><p class="STYLE59">4．您的肌肉发紧</p></td>
            <td width="55" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i4" value="1">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i4" value="2">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i4" value="3">
            </p></td>
            <td width="56" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i4" value="4">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i4" value="5">
            </p></td>
            </tr>
          <tr>
            <td width="321" valign="middle"><p class="STYLE59">5．您被头痛所困扰</p></td>
            <td width="55" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i5" value="1">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i5" value="2">
            </p></td>
            <td width="41" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i5" value="3">
            </p></td>
            <td width="56" valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i5" value="4">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i5" value="5">
            </p></td>
            </tr>
          <tr>
            <td width="321" valign="middle"><p class="STYLE59">6．您感到血液仿佛直往头上涌</p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i6" value="1">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i6" value="2">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i6" value="3">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i6" value="4">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i6" value="5">
            </p></td>
            </tr>
          <tr>
            <td width="321" valign="middle"><p class="STYLE59">7．您感到喉中有一肿块或有阻塞感</p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i7" value="1">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i7" value="2">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i7" value="3">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i7" value="4">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i7" value="5">
            </p></td>
            </tr>
          <tr>
            <td width="321" valign="middle"><p class="STYLE59">8．您的手震颤到足以感到痛苦</p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i8" value="1">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i8" value="2">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i8" value="3">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i8" value="4">
            </p></td>
            <td valign="top"><p align="center" class="STYLE59">
              <input type="radio" name="i8" value="5">
            </p></td>
            </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">9．在不努力工作或不锻练身体时，您感到气短</p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i9" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i9" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i9" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i9" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i9" value="5">
               </p></td>
             </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">10．您感到心脏跳得厉害，并为此而烦扰</p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i10" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i10" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i10" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i10" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i10" value="5">
               </p></td>
            </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">11．您的手出汗，以致有潮湿和粘糊糊的感觉</p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i11" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i11" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i11" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i11" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i11" value="5">
               </p></td>
             </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">12．您阵发性的头晕眼花</p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i12" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i12" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i12" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i12" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i12" value="5">
               </p></td>
            </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">13．您被肠胃不适或胃痛所困扰</p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i13" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i13" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i13" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i13" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i13" value="5">
               </p></td>
             </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">14．您健康不佳，并影响工作</p></td>
               <td width="55" valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i14" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i14" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i14" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i14" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i14" value="5">
               </p></td>
            </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">15．您食欲减退</p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i15" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i15" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i15" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i15" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i15" value="5">
               </p></td>
             </tr>
             <tr>
               <td width="321" valign="middle"><p class="STYLE59">16．您晚上睡眠不好</p></td>
               <td width="55" valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i16" value="1">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i16" value="2">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i16" value="3">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i16" value="4">
               </p></td>
               <td valign="top"><p align="center" class="STYLE59">
                 <input type="radio" name="i16" value="5">
               </p></td>
            </tr>
        </tbody></table>
        
      </div>
    </div>
  </form>
</div>
          </div>
          <p>&nbsp;
          </p>
         
          <div class="cleaner"></div>
        </div>
            
            

      </div>
<script language="javascript" type="text/javascript">
    function q_${questionnaireId}_getAnswer() {
        var answer = getAnswer();
        if (answer == undefined) {
            return { finished: false, answer: undefined };
        } else {
            return { finished: true, answer: answer };
        }
    }
    function getAnswer() {
        return 'answer';
    }
</script>