<h1>第六部分 （1）生活事件 </h1>
<hr />
<div class="services_section">
        <div>
          <div class="center">
            <p class="STYLE61"> 下面是每个人都有可能遇到的一些日常生活事件，请根据您的情况选择性填写。</p>
            <div align="center">
              
   	        </div>
          </div>
          <div align="center">
            <div align="center">
  <form id="form-${questionnaireId}" action="post.php?flag2=39" method="post" onsubmit="return checkp(48);">
    <div align="center">
      <div align="center">
        <table border="0" cellspacing="25" cellpadding="0" width="600">
          <tbody><tr>
            <td width="362" valign="middle"><p class="STYLE60"> 1、恋爱或订婚  </p>
              <p class="STYLE60">⑴事件发生时间:</p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i1_1" value="1">
                  未发生
                  <input type="radio" name="i1_1" value="2">
                  一年前
                  <input type="radio" name="i1_1" value="3">
                  一年内
                  <input type="radio" name="i1_1" value="4">
                  长期性</p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i1_2" value="1">
                  好事
                  <input type="radio" name="i1_2" value="2">
                  坏事</p>
              <p class="STYLE60">                 ⑶精神影响程度: </p>
              <p class="STYLE60"> 
                 
                  <input type="radio" name="i1_3" value="1">
                  无影响
                  <input type="radio" name="i1_3" value="2">
                  轻度
                  <input type="radio" name="i1_3" value="3">
                  中度
                  <input type="radio" name="i1_3" value="4">
                  重度
                  <input type="radio" name="i1_3" value="5">
                  极重度</p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i1_4" value="1">
                  三个月
                  <input type="radio" name="i1_4" value="2">
                  六个月
                  <input type="radio" name="i1_4" value="3">
                  一年</p>
               
               <p class="STYLE60"> ⑸发生次数：
                <input type="text" name="i1_5" id="textfield">
                （事件持续不到半年记一次，超过半年记2次） </p></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 2、恋爱失败、破裂  </p>
              <p class="STYLE60">                 ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i2_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i2_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i2_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i2_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i2_2" value="1">
                好事&nbsp;
  <input type="radio" name="i2_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i2_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i2_3" value="2">
                轻度
  <input type="radio" name="i2_3" value="3">
                中度&nbsp;
  <input type="radio" name="i2_3" value="4">
                重度&nbsp;
  <input type="radio" name="i2_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i2_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i2_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i2_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i2_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次）               </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 3、结婚  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i3_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i3_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i3_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i3_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i3_2" value="1">
                好事&nbsp;
  <input type="radio" name="i3_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i3_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i3_3" value="2">
                轻度
  <input type="radio" name="i3_3" value="3">
                中度&nbsp;
  <input type="radio" name="i3_3" value="4">
                重度&nbsp;
  <input type="radio" name="i3_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i3_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i3_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i3_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i3_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 4、自己怀孕  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i4_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i4_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i4_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i4_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i4_2" value="1">
                好事&nbsp;
  <input type="radio" name="i4_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i4_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i4_3" value="2">
                轻度
  <input type="radio" name="i4_3" value="3">
                中度&nbsp;
  <input type="radio" name="i4_3" value="4">
                重度&nbsp;
  <input type="radio" name="i4_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i4_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i4_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i4_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i4_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 5、自己流产  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i5_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i5_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i5_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i5_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i5_2" value="1">
                好事&nbsp;
  <input type="radio" name="i5_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i5_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i5_3" value="2">
                轻度
  <input type="radio" name="i5_3" value="3">
                中度&nbsp;
  <input type="radio" name="i5_3" value="4">
                重度&nbsp;
  <input type="radio" name="i5_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i5_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i5_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i5_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i5_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 6、家庭增添新成员  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i6_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i6_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i6_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i6_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i6_2" value="1">
                好事&nbsp;
  <input type="radio" name="i6_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i6_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i6_3" value="2">
                轻度
  <input type="radio" name="i6_3" value="3">
                中度&nbsp;
  <input type="radio" name="i6_3" value="4">
                重度&nbsp;
  <input type="radio" name="i6_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i6_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i6_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i6_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i6_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 7、与爱人父母不和  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i7_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i7_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i7_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i7_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i7_2" value="1">
                好事&nbsp;
  <input type="radio" name="i7_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i7_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i7_3" value="2">
                轻度
  <input type="radio" name="i7_3" value="3">
                中度&nbsp;
  <input type="radio" name="i7_3" value="4">
                重度&nbsp;
  <input type="radio" name="i7_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i7_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i7_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i7_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i7_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 8、夫妻感情不好  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i8_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i8_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i8_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i8_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i8_2" value="1">
                好事&nbsp;
  <input type="radio" name="i8_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i8_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i8_3" value="2">
                轻度
  <input type="radio" name="i8_3" value="3">
                中度&nbsp;
  <input type="radio" name="i8_3" value="4">
                重度&nbsp;
  <input type="radio" name="i8_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i8_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i8_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i8_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i8_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 9、夫妻分居（因不和）  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i9_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i9_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i9_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i9_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i9_2" value="1">
                好事&nbsp;
  <input type="radio" name="i9_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i9_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i9_3" value="2">
                轻度
  <input type="radio" name="i9_3" value="3">
                中度&nbsp;
  <input type="radio" name="i9_3" value="4">
                重度&nbsp;
  <input type="radio" name="i9_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i9_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i9_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i9_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i9_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 10、夫妻两地分居（工作需要）  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i10_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i10_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i10_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i10_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i10_2" value="1">
                好事&nbsp;
  <input type="radio" name="i10_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i10_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i10_3" value="2">
                轻度
  <input type="radio" name="i10_3" value="3">
                中度&nbsp;
  <input type="radio" name="i10_3" value="4">
                重度&nbsp;
  <input type="radio" name="i10_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i10_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i10_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i10_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i10_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 11、性生活不满意或独身  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i11_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i11_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i11_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i11_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i11_2" value="1">
                好事&nbsp;
  <input type="radio" name="i11_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i11_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i11_3" value="2">
                轻度
  <input type="radio" name="i11_3" value="3">
                中度&nbsp;
  <input type="radio" name="i11_3" value="4">
                重度&nbsp;
  <input type="radio" name="i11_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i11_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i11_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i11_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i11_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 12、配偶一方有外遇  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i12_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i12_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i12_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i12_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i12_2" value="1">
                好事&nbsp;
  <input type="radio" name="i12_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i12_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i12_3" value="2">
                轻度
  <input type="radio" name="i12_3" value="3">
                中度&nbsp;
  <input type="radio" name="i12_3" value="4">
                重度&nbsp;
  <input type="radio" name="i12_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i12_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i12_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i12_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i12_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 13、夫妻重归于好  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i13_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i13_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i13_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i13_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i13_2" value="1">
                好事&nbsp;
  <input type="radio" name="i13_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i13_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i13_3" value="2">
                轻度
  <input type="radio" name="i13_3" value="3">
                中度&nbsp;
  <input type="radio" name="i13_3" value="4">
                重度&nbsp;
  <input type="radio" name="i13_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i13_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i13_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i13_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i13_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 14、超指标生育  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i14_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i14_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i14_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i14_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i14_2" value="1">
                好事&nbsp;
  <input type="radio" name="i14_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i14_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i14_3" value="2">
                轻度
  <input type="radio" name="i14_3" value="3">
                中度&nbsp;
  <input type="radio" name="i14_3" value="4">
                重度&nbsp;
  <input type="radio" name="i14_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i14_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i14_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i14_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i14_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 15、本人（爱人）做绝育手术  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i15_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i15_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i15_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i15_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i15_2" value="1">
                好事&nbsp;
  <input type="radio" name="i15_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i15_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i15_3" value="2">
                轻度
  <input type="radio" name="i15_3" value="3">
                中度&nbsp;
  <input type="radio" name="i15_3" value="4">
                重度&nbsp;
  <input type="radio" name="i15_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i15_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i15_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i15_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i15_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 16、配偶死亡  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i16_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i16_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i16_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i16_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i16_2" value="1">
                好事&nbsp;
  <input type="radio" name="i16_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i16_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i16_3" value="2">
                轻度
  <input type="radio" name="i16_3" value="3">
                中度&nbsp;
  <input type="radio" name="i16_3" value="4">
                重度&nbsp;
  <input type="radio" name="i16_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i16_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i16_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i16_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i16_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 17、离婚  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i17_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i17_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i17_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i17_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i17_2" value="1">
                好事&nbsp;
  <input type="radio" name="i17_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i17_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i17_3" value="2">
                轻度
  <input type="radio" name="i17_3" value="3">
                中度&nbsp;
  <input type="radio" name="i17_3" value="4">
                重度&nbsp;
  <input type="radio" name="i17_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i17_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i17_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i17_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i17_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次）              </span>
              <p class="STYLE60">&nbsp; </p></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 18、子女升学（就业）失败  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i18_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i18_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i18_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i18_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i18_2" value="1">
                好事&nbsp;
  <input type="radio" name="i18_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i18_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i18_3" value="2">
                轻度
  <input type="radio" name="i18_3" value="3">
                中度&nbsp;
  <input type="radio" name="i18_3" value="4">
                重度&nbsp;
  <input type="radio" name="i18_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i18_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i18_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i18_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i18_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 19、子女管教困难  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i19_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i19_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i19_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i19_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i19_2" value="1">
                好事&nbsp;
  <input type="radio" name="i19_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i19_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i19_3" value="2">
                轻度
  <input type="radio" name="i19_3" value="3">
                中度&nbsp;
  <input type="radio" name="i19_3" value="4">
                重度&nbsp;
  <input type="radio" name="i19_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i19_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i19_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i19_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i19_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 20、子女长期离家  </p>
              <p class="STYLE60">  ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i20_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i20_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i20_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i20_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i20_2" value="1">
                好事&nbsp;
  <input type="radio" name="i20_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i20_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i20_3" value="2">
                轻度
  <input type="radio" name="i20_3" value="3">
                中度&nbsp;
  <input type="radio" name="i20_3" value="4">
                重度&nbsp;
  <input type="radio" name="i20_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i20_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i20_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i20_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i20_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 21、父母不和  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i21_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i21_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i21_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i21_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i21_2" value="1">
                好事&nbsp;
  <input type="radio" name="i21_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i21_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i21_3" value="2">
                轻度
  <input type="radio" name="i21_3" value="3">
                中度&nbsp;
  <input type="radio" name="i21_3" value="4">
                重度&nbsp;
  <input type="radio" name="i21_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i21_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i21_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i21_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i21_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 22、家庭经济困难 
               </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i22_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i22_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i22_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i22_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i22_2" value="1">
                好事&nbsp;
  <input type="radio" name="i22_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i22_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i22_3" value="2">
                轻度
  <input type="radio" name="i22_3" value="3">
                中度&nbsp;
  <input type="radio" name="i22_3" value="4">
                重度&nbsp;
  <input type="radio" name="i22_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i22_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i22_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i22_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i22_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 23、欠债500元以上  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i23_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i23_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i23_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i23_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i23_2" value="1">
                好事&nbsp;
  <input type="radio" name="i23_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i23_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i23_3" value="2">
                轻度
  <input type="radio" name="i23_3" value="3">
                中度&nbsp;
  <input type="radio" name="i23_3" value="4">
                重度&nbsp;
  <input type="radio" name="i23_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i23_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i23_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i23_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i23_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 24、经济情况显著改善  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i24_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i24_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i24_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i24_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i24_2" value="1">
                好事&nbsp;
  <input type="radio" name="i24_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i24_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i24_3" value="2">
                轻度
  <input type="radio" name="i24_3" value="3">
                中度&nbsp;
  <input type="radio" name="i24_3" value="4">
                重度&nbsp;
  <input type="radio" name="i24_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i24_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i24_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i24_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i24_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 25、家庭成员重病、重伤  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i25_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i25_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i25_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i25_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i25_2" value="1">
                好事&nbsp;
  <input type="radio" name="i25_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i25_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i25_3" value="2">
                轻度
  <input type="radio" name="i25_3" value="3">
                中度&nbsp;
  <input type="radio" name="i25_3" value="4">
                重度&nbsp;
  <input type="radio" name="i25_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i25_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i25_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i25_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i25_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 26、家庭成员死亡  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i26_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i26_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i26_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i26_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i26_2" value="1">
                好事&nbsp;
  <input type="radio" name="i26_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i26_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i26_3" value="2">
                轻度
  <input type="radio" name="i26_3" value="3">
                中度&nbsp;
  <input type="radio" name="i26_3" value="4">
                重度&nbsp;
  <input type="radio" name="i26_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i26_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i26_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i26_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i26_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 27、本人重病或重伤  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i27_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i27_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i27_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i27_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i27_2" value="1">
                好事&nbsp;
  <input type="radio" name="i27_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i27_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i27_3" value="2">
                轻度
  <input type="radio" name="i27_3" value="3">
                中度&nbsp;
  <input type="radio" name="i27_3" value="4">
                重度&nbsp;
  <input type="radio" name="i27_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i27_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i27_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i27_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i27_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 28、住房紧张  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i28_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i28_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i28_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i28_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i28_2" value="1">
                好事&nbsp;
  <input type="radio" name="i28_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i28_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i28_3" value="2">
                轻度
  <input type="radio" name="i28_3" value="3">
                中度&nbsp;
  <input type="radio" name="i28_3" value="4">
                重度&nbsp;
  <input type="radio" name="i28_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i28_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i28_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i28_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i28_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次）  </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60">               29、待业、无业  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i29_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i29_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i29_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i29_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i29_2" value="1">
                好事&nbsp;
  <input type="radio" name="i29_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i29_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i29_3" value="2">
                轻度
  <input type="radio" name="i29_3" value="3">
                中度&nbsp;
  <input type="radio" name="i29_3" value="4">
                重度&nbsp;
  <input type="radio" name="i29_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i29_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i29_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i29_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i29_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60">  30、开始就业  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i30_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i30_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i30_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i30_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i30_2" value="1">
                好事&nbsp;
  <input type="radio" name="i30_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i30_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i30_3" value="2">
                轻度
  <input type="radio" name="i30_3" value="3">
                中度&nbsp;
  <input type="radio" name="i30_3" value="4">
                重度&nbsp;
  <input type="radio" name="i30_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i30_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i30_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i30_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i30_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 31、高考失败  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i31_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i31_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i31_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i31_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i31_2" value="1">
                好事&nbsp;
  <input type="radio" name="i31_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i31_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i31_3" value="2">
                轻度
  <input type="radio" name="i31_3" value="3">
                中度&nbsp;
  <input type="radio" name="i31_3" value="4">
                重度&nbsp;
  <input type="radio" name="i31_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i31_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i31_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i31_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i31_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 32、扣发奖金或 罚款  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i32_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i32_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i32_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i32_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i32_2" value="1">
                好事&nbsp;
  <input type="radio" name="i32_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i32_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i32_3" value="2">
                轻度
  <input type="radio" name="i32_3" value="3">
                中度&nbsp;
  <input type="radio" name="i32_3" value="4">
                重度&nbsp;
  <input type="radio" name="i32_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i32_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i32_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i32_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i32_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 33、突出的个人成就  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i33_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i33_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i33_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i33_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i33_2" value="1">
                好事&nbsp;
  <input type="radio" name="i33_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i33_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i33_3" value="2">
                轻度
  <input type="radio" name="i33_3" value="3">
                中度&nbsp;
  <input type="radio" name="i33_3" value="4">
                重度&nbsp;
  <input type="radio" name="i33_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i33_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i33_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i33_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i33_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 34、晋升、提级  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i34_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i34_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i34_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i34_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i34_2" value="1">
                好事&nbsp;
  <input type="radio" name="i34_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i34_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i34_3" value="2">
                轻度
  <input type="radio" name="i34_3" value="3">
                中度&nbsp;
  <input type="radio" name="i34_3" value="4">
                重度&nbsp;
  <input type="radio" name="i34_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i34_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i34_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i34_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i34_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 35、对现职工作不满意                </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i35_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i35_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i35_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i35_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i35_2" value="1">
                好事&nbsp;
  <input type="radio" name="i35_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i35_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i35_3" value="2">
                轻度
  <input type="radio" name="i35_3" value="3">
                中度&nbsp;
  <input type="radio" name="i35_3" value="4">
                重度&nbsp;
  <input type="radio" name="i35_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i35_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i35_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i35_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i35_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 36、工作学习中压力大  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i36_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i36_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i36_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i36_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i36_2" value="1">
                好事&nbsp;
  <input type="radio" name="i36_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i36_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i36_3" value="2">
                轻度
  <input type="radio" name="i36_3" value="3">
                中度&nbsp;
  <input type="radio" name="i36_3" value="4">
                重度&nbsp;
  <input type="radio" name="i36_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i36_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i36_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i36_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i36_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60">  37、与上级关系紧张  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i37_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i37_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i37_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i37_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i37_2" value="1">
                好事&nbsp;
  <input type="radio" name="i37_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i37_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i37_3" value="2">
                轻度
  <input type="radio" name="i37_3" value="3">
                中度&nbsp;
  <input type="radio" name="i37_3" value="4">
                重度&nbsp;
  <input type="radio" name="i37_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i37_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i37_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i37_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i37_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次）  </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 38、与同事邻居不和  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i38_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i38_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i38_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i38_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i38_2" value="1">
                好事&nbsp;
  <input type="radio" name="i38_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i38_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i38_3" value="2">
                轻度
  <input type="radio" name="i38_3" value="3">
                中度&nbsp;
  <input type="radio" name="i38_3" value="4">
                重度&nbsp;
  <input type="radio" name="i38_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i38_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i38_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i38_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i38_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 39、第一次远走他乡异国  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i39_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i39_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i39_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i39_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i39_2" value="1">
                好事&nbsp;
  <input type="radio" name="i39_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i39_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i39_3" value="2">
                轻度
  <input type="radio" name="i39_3" value="3">
                中度&nbsp;
  <input type="radio" name="i39_3" value="4">
                重度&nbsp;
  <input type="radio" name="i39_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i39_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i39_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i39_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i39_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 40、生活规律重大改变（饮食、睡眠）  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i40_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i40_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i40_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i40_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i40_2" value="1">
                好事&nbsp;
  <input type="radio" name="i40_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i40_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i40_3" value="2">
                轻度
  <input type="radio" name="i40_3" value="3">
                中度&nbsp;
  <input type="radio" name="i40_3" value="4">
                重度&nbsp;
  <input type="radio" name="i40_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i40_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i40_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i40_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i40_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60">41、本人退休、下岗未安排具体工作</p> 
              <span class="STYLE60"><br>
              </span>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i41_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i41_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i41_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i41_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i41_2" value="1">
                好事&nbsp;
  <input type="radio" name="i41_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i41_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i41_3" value="2">
                轻度
  <input type="radio" name="i41_3" value="3">
                中度&nbsp;
  <input type="radio" name="i41_3" value="4">
                重度&nbsp;
  <input type="radio" name="i41_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i41_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i41_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i41_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i41_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 42、好友重病或重伤  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i42_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i42_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i42_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i42_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i42_2" value="1">
                好事&nbsp;
  <input type="radio" name="i42_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i42_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i42_3" value="2">
                轻度
  <input type="radio" name="i42_3" value="3">
                中度&nbsp;
  <input type="radio" name="i42_3" value="4">
                重度&nbsp;
  <input type="radio" name="i42_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i42_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i42_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i42_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i42_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 43、好友死亡  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i43_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i43_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i43_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i43_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i43_2" value="1">
                好事&nbsp;
  <input type="radio" name="i43_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i43_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i43_3" value="2">
                轻度
  <input type="radio" name="i43_3" value="3">
                中度&nbsp;
  <input type="radio" name="i43_3" value="4">
                重度&nbsp;
  <input type="radio" name="i43_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i43_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i43_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i43_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i43_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次）  </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 44、被人误会、错怪、诬告、议论  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i44_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i44_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i44_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i44_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i44_2" value="1">
                好事&nbsp;
  <input type="radio" name="i44_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i44_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i44_3" value="2">
                轻度
  <input type="radio" name="i44_3" value="3">
                中度&nbsp;
  <input type="radio" name="i44_3" value="4">
                重度&nbsp;
  <input type="radio" name="i44_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i44_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i44_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i44_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i44_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 45、介入民事法律纠纷  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i45_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i45_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i45_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i45_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i45_2" value="1">
                好事&nbsp;
  <input type="radio" name="i45_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i45_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i45_3" value="2">
                轻度
  <input type="radio" name="i45_3" value="3">
                中度&nbsp;
  <input type="radio" name="i45_3" value="4">
                重度&nbsp;
  <input type="radio" name="i45_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i45_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i45_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i45_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i45_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60"> 46、被拘留、受审  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;              </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i46_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i46_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i46_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i46_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i46_2" value="1">
                好事&nbsp;
  <input type="radio" name="i46_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i46_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i46_3" value="2">
                轻度
  <input type="radio" name="i46_3" value="3">
                中度&nbsp;
  <input type="radio" name="i46_3" value="4">
                重度&nbsp;
  <input type="radio" name="i46_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i46_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i46_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i46_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i46_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"> <p class="STYLE60">47、失窃、财产损失 </p>
              <span class="STYLE60"><br>
              </span>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;  </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i47_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i47_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i47_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i47_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i47_2" value="1">
                好事&nbsp;
  <input type="radio" name="i47_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i47_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i47_3" value="2">
                轻度
  <input type="radio" name="i47_3" value="3">
                中度&nbsp;
  <input type="radio" name="i47_3" value="4">
                重度&nbsp;
  <input type="radio" name="i47_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i47_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i47_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i47_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i47_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
          <tr>
            <td valign="middle"><p class="STYLE60">  48、意外惊吓、发生事故、自然灾害  </p>
              <p class="STYLE60"> ⑴事件发生时间:&nbsp;&nbsp;               </p>
              <p class="STYLE60">
                 
                  <input type="radio" name="i48_1" value="1">
                未发生&nbsp;
  <input type="radio" name="i48_1" value="2">
                一年前&nbsp;
  <input type="radio" name="i48_1" value="3">
                一年内&nbsp;
  <input type="radio" name="i48_1" value="4">
                长期性&nbsp;  </p>
              <p class="STYLE60">  ⑵性质： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i48_2" value="1">
                好事&nbsp;
  <input type="radio" name="i48_2" value="2">
                坏事  </p>
              <p class="STYLE60">  ⑶精神影响程度：&nbsp; </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i48_3" value="1">
                无影响 &nbsp;
  <input type="radio" name="i48_3" value="2">
                轻度
  <input type="radio" name="i48_3" value="3">
                中度&nbsp;
  <input type="radio" name="i48_3" value="4">
                重度&nbsp;
  <input type="radio" name="i48_3" value="5">
                极重度 </p>
              <p class="STYLE60">  ⑷影响持续时间： </p>
              <p class="STYLE60">
                 
                <input type="radio" name="i48_4" value="1">
                三个月&nbsp;
  <input type="radio" name="i48_4" value="2">
                六个月&nbsp;
  <input type="radio" name="i48_4" value="3">
                一年  </p>
               
              <span class="STYLE60">⑸发生次数：
              <input type="text" name="i48_5" id="textfield">
（事件持续不到半年记一次，超过半年记2次） </span></td>
            </tr>
        </tbody></table>
        
      </div>
    </div>
  </form>
</div>
          </div>
          <p>&nbsp;
          </p>
         
          <div class="cleaner"></div>
        </div>
            
            

      </div>
		<script language="javascript" type="text/javascript">
    function q_${questionnaireId}_getAnswer() {
        var answer = getAnswer();
        if (answer == undefined) {
            return { finished: false, answer: undefined };
        } else {
            return { finished: true, answer: answer };
        }
    }
    function getAnswer() {
        return 'answer';
    }
</script>